@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary);
  color: white;
}

/* Mantine Skeleton Component */
.custom-skeleton::before {
  background: linear-gradient(
    90deg,
    transparent,
    var(--secondary),
    transparent
  );
}
.custom-skeleton::after {
  background-color: var(--primary);
}

/* Mantine SegmentedControl Component */
.mantine-SegmentedControl-control[data-active] .mantine-SegmentedControl-label,
.mantine-SegmentedControl-control:hover .mantine-SegmentedControl-label {
  color: white; /* selected text and hovering unselected text */
}
.mantine-SegmentedControl-label {
  color: #bbbbbb; /* unselected text */
}

/* Mantine Pagination Component */
.mantine-Pagination-control {
  color: white; /* default */
  background-color: transparent;
}
.mantine-Pagination-control:hover {
  background-color: rgba(255, 255, 255, 0.06); /* hover unselected page */
}
.mantine-Pagination-control[data-active] {
  color: white; /* selected page */
  background-color: var(--info);
}

/* Mantine Drawer Component */
.mantine-Drawer-header,
.mantine-Drawer-content {
  background-color: var(--primary);
}
.mantine-Drawer-close {
  color: white;
  background-color: transparent;
}
.mantine-Drawer-close:hover {
  background-color: var(--info);
}

:root {
  /* Main Colors */
  --primary: #121212;
  --secondary: #27272a;
  --info: #228be6;

  /* Pokemon Type Colors */
  --normal: rgb(168, 168, 120);
  --fire: rgb(240, 128, 48);
  --water: rgb(104, 144, 240);
  --electric: rgb(248, 208, 48);
  --grass: rgb(120, 200, 80);
  --ice: rgb(152, 216, 216);
  --fighting: rgb(192, 48, 40);
  --poison: rgb(160, 64, 160);
  --ground: rgb(224, 192, 104);
  --flying: rgb(168, 144, 240);
  --psychic: rgb(248, 88, 136);
  --bug: rgb(168, 184, 32);
  --rock: rgb(184, 160, 56);
  --ghost: rgb(112, 88, 152);
  --dragon: rgb(112, 56, 248);
  --dark: rgb(112, 88, 72);
  --steel: rgb(184, 184, 208);
  --fairy: rgb(238, 153, 172);
}
